* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 20px;
}

.navbar h1 {
  background: #fff;
}
.navbar h1 a {
  display: block;
  width: 360px;
  height: 55px;
  background: url("../image/logo/logo.png") center no-repeat;
  background-size: contain;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.navbar .nav-item {
  font-size: 19px;
  font-weight: bold;
  margin-right: 35px;
}
.navbar .nav-item:last-child {
  margin-right: 0;
}
.navbar .dropdown {
  width: 150px;
  background: #204EAB;
}
.navbar .dropdown .dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.navbar .dropdown .dropdown-toggle i {
  margin-left: 5px;
  margin-right: 5px;
}
.navbar .dropdown .dropdown-item {
  padding: 4px 0 4px 10px;
}
@media (max-width: 1200px) {
  .navbar .nav-item {
    font-size: 16px;
    margin-right: 10px;
  }
}
@media (max-width: 576px) {
  .navbar h1 a {
    width: 250px;
    height: 45px;
  }
}
@media (max-width: 375px) {
  .navbar h1 a {
    width: 200px;
    height: 40px;
  }
}

footer {
  background: #204EAB;
  padding: 30px;
  color: #fff;
}
footer .col-lg-2 {
  text-align: center;
}
footer .col-lg-10 {
  border-left: 1px solid #fff;
  padding-left: 30px;
}
footer .copyRight p {
  font-size: 13px;
}
footer .copyRight p a {
  color: #fff;
}
footer .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer ul {
  margin-bottom: 10px;
}
footer ul li {
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  footer .col-lg-2 {
    margin-bottom: 20px;
  }
  footer .col-lg-10 {
    border-left: none;
    padding-left: 0px;
  }
}
@media (max-width: 768px) {
  footer .col-md-6 {
    text-align: center;
    margin-bottom: 5px;
  }
}

#topBtn {
  width: 60px;
  height: 60px;
  color: #fff;
  background: #204EAB;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 35px;
  position: fixed;
  right: 2%;
  bottom: 150px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
}

.breadcrumb {
  background: #F2F2F2;
}
.breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #666666;
  gap: 10px;
  padding: 20px;
}
.breadcrumb ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666666;
  gap: 5px;
}

.banner .swiper-button-next,
.banner .swiper-button-prev {
  color: #fff;
}

.pageTitle {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 100px;
}
@media (max-width: 992px) {
  .pageTitle {
    margin-bottom: 50px;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.pagination li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
}
.pagination li a:hover {
  border: 1px solid #204EAB;
  background: #fff;
  -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
}
.pagination li a.active {
  border: 1px solid #204EAB;
  background: #fff;
  -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
}
@media (max-width: 992px) {
  .pagination {
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .pagination {
    gap: 10px;
  }
  .pagination li a {
    width: 35px;
    height: 35px;
  }
}

.index .subject {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 60px;
  font-size: 20px;
}
.index .subject span {
  color: #204EAB;
  font-weight: bold;
  font-size: 22px;
}
.index .row > * {
  padding: 0;
}
.index .section1 {
  margin-bottom: 120px;
}
.index .section1 .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.index .section1 .right {
  background: #F2F2F2;
  padding: 50px;
}
.index .section1 .right h3 {
  margin-bottom: 40px;
  font-size: 26px;
  font-weight: 500;
}
.index .section1 .right ul {
  margin-bottom: 40px;
  font-size: 18px;
}
.index .section1 .right ul li {
  margin-bottom: 10px;
}
.index .section1 .right .col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  margin-bottom: 20px;
}
.index .section1 .right .col-6 div {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #84AAF6;
  -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
}
.index .section1 .right a {
  text-align: right;
  color: #204EAB;
  font-size: 20px;
  display: block;
}
.index .section1 .right a i {
  margin-left: 5px;
}
.index .section1 .right a:hover {
  text-decoration: underline;
}
.index .section2 {
  margin-bottom: 95px;
}
.index .section2 .left {
  background: #F2F2F2;
  padding: 50px 50px 30px 50px;
}
.index .section2 .left h3 {
  margin-bottom: 40px;
  font-size: 26px;
  font-weight: 500;
}
.index .section2 .left h4 {
  margin-bottom: 15px;
  font-size: 20px;
}
.index .section2 .left ul {
  margin-bottom: 48px;
  font-size: 18px;
}
.index .section2 .left ul li {
  margin-bottom: 10px;
}
.index .section2 .left a {
  color: #204EAB;
  font-size: 20px;
}
.index .section2 .left a i {
  margin-left: 5px;
}
.index .section2 .left a:hover {
  text-decoration: underline;
}
.index .section2 .right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.index .section3 {
  margin-bottom: 100px;
}
.index .section3 h3 {
  text-align: center;
  color: #666666;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 40px;
}
.index .section3 .col-12 {
  position: relative;
  cursor: pointer;
}
.index .section3 .col-12:hover .wrap {
  opacity: 0.5;
}
.index .section3 .col-12:hover .wrapImg {
  opacity: 1;
}
.index .section3 .col-12 .wrap {
  background-color: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.index .section3 .col-12 .wrapImg {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about {
  margin-bottom: 150px;
}
.about .pageTitle {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 100px;
}
.about .col-lg-2 h3 {
  font-size: 30px;
  color: #204EAB;
  font-weight: bold;
}
.about .section1 {
  font-size: 20px;
  border-bottom: 1px dashed #A3A3A3;
  margin-bottom: 60px;
}
.about .section1 h4 {
  color: #204EAB;
  font-weight: bold;
}
.about .section1 .col-lg-10 p span {
  color: #204EAB;
  font-size: 24px;
  font-weight: bold;
}
.about .section1 .col-lg-10 ul {
  margin-bottom: 30px;
}
.about .section1 .col-lg-10 ul li {
  margin-bottom: 10px;
}
.about .section1 .col-lg-10 ul li span {
  font-size: 21px;
  color: #373737;
  font-weight: bold;
}
.about .section1 .col-lg-10 ul:last-child {
  margin-bottom: 60px;
}
.about .section1 .col-lg-10 ul:last-child li {
  margin-bottom: 30px;
}
.about .section2 .col-lg-10 li {
  margin-bottom: 40px;
}
.about .section2 .col-lg-10 li img {
  border-radius: 10px;
}
@media (max-width: 992px) {
  .about {
    margin-bottom: 80px;
  }
  .about .pageTitle {
    margin-bottom: 50px;
  }
  .about .col-lg-2 h3 {
    text-align: center;
    margin-bottom: 30px;
  }
}

.news {
  margin-bottom: 150px;
}
.news .row {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.news .row li {
  margin-bottom: 100px;
}
.news .row li .newsImg {
  margin-bottom: 40px;
  width: 100%;
  border-radius: 0 0 30px 30px;
}
.news .row li .newsTitle {
  margin-bottom: 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.news .row li .newsTitle .col-sm-9 {
  margin-left: 10px;
}
.news .row li .newsTitle h3 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 30px;
  color: #373737;
  font-weight: bold;
}
.news .row li .newsContent {
  font-size: 15px;
  color: #474241;
}
.news .row li .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100px;
}
.news .row li .date::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 80px;
  border: 2px solid #204EAB;
  top: 55%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.news .row li .date img {
  width: 10px;
}
.news .row li .date p {
  margin-bottom: 0;
  font-size: 15px;
  color: #204EAB;
  background: #fff;
}
.news .row li .date p:first-child {
  font-size: 45px;
  font-weight: bold;
  border-bottom: 1px solid #204EAB;
  margin-bottom: 2px;
}
.news .row li .date p:last-child {
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 5px;
}
.news .row li .moreBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
.news .row li .moreBtn::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  border: 1px dashed #A3A3A3;
  z-index: -1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.news .row li .moreBtn a {
  color: #fff;
  background: #204EAB;
  padding: 5px 12px;
  position: relative;
}
.news .row li .moreBtn a::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 100%;
  background: #7396DC;
  left: 0;
  top: 0;
}
@media (max-width: 992px) {
  .news {
    margin-bottom: 80px;
  }
}
@media (max-width: 576px) {
  .news .row li .newsImg {
    margin-bottom: 10px;
  }
  .news .row li .newsTitle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news .row li .date {
    margin-bottom: 10px;
  }
}

.newsDetail {
  margin-bottom: 150px;
}
.newsDetail .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100px;
}
.newsDetail .date::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 80px;
  border: 2px solid #204EAB;
  top: 55%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.newsDetail .date img {
  width: 10px;
}
.newsDetail .date p {
  margin-bottom: 0;
  font-size: 15px;
  color: #204EAB;
  background: #fff;
}
.newsDetail .date p:first-child {
  font-size: 45px;
  font-weight: bold;
  border-bottom: 1px solid #204EAB;
  margin-bottom: 2px;
}
.newsDetail .date p:last-child {
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 5px;
}
.newsDetail .newsTitle {
  padding-bottom: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
  border-bottom: 1px dashed #204EAB;
  margin-bottom: 50px;
}
.newsDetail .newsTitle h3 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 30px;
  color: #373737;
  font-weight: bold;
}
.newsDetail ul {
  margin-bottom: 100px;
}
.newsDetail ul li {
  margin-bottom: 40px;
}
.newsDetail ul li img {
  width: 100%;
}
.newsDetail ul .newsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.newsDetail ul .newsContent .ContentTag {
  width: 25px;
}
.newsDetail .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.newsDetail .back a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #204EAB;
  color: #fff;
  padding: 12px 30px;
  position: relative;
}
.newsDetail .back a::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 100%;
  background: #7396DC;
  left: 0;
  top: 0;
}
@media (max-width: 992px) {
  .newsDetail {
    margin-bottom: 80px;
  }
  .newsDetail ul {
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .newsDetail .newsTitle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}/*# sourceMappingURL=all.css.map */