.index {
    .subject {
        text-align: center;
        margin-top: 45px;
        margin-bottom: 60px;
        font-size: 20px;

        span {
            color: $main;
            font-weight: bold;
            font-size: 22px;
        }
    }

    .row>* {
        padding: 0;
    }

    .section1 {
        margin-bottom: 120px;

        .left {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .right {
            background: #F2F2F2;
            padding: 50px;

            h3 {
                margin-bottom: 40px;
                font-size: 26px;
                font-weight: 500
            }

            ul {
                margin-bottom: 40px;
                font-size: 18px;

                li {
                    margin-bottom: 10px;
                }
            }

            .col-6 {
                display: flex;
                align-items: center;
                gap: 14px;
                margin-bottom: 20px;

                div {
                    width: 80px;
                    height: 80px;
                    background: #fff;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #84AAF6;
                    box-shadow: 0 0 6px 1px rgba($color: #000000, $alpha: 0.3);
                }
            }

            a {
                text-align: right;
                color: $main;
                font-size: 20px;
                display: block;

                i {
                    margin-left: 5px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .section2 {
        margin-bottom: 95px;

        .left {
            background: #F2F2F2;
            padding: 50px 50px 30px 50px;

            h3 {
                margin-bottom: 40px;
                font-size: 26px;
                font-weight: 500
            }

            h4 {
                margin-bottom: 15px;
                font-size: 20px;
            }

            ul {
                margin-bottom: 48px;
                font-size: 18px;

                li {
                    margin-bottom: 10px;
                }
            }

            a {
                color: $main;
                font-size: 20px;

                i {
                    margin-left: 5px;
                }

                &:hover {
                    text-decoration: underline;
                }

            }
        }

        .right {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .section3 {
        margin-bottom: 100px;

        h3 {
            text-align: center;
            color: #666666;
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 40px;
        }

        .col-12 {
            position: relative;
            cursor: pointer;

            &:hover {

                .wrap {
                    opacity: 0.5;
                }

                .wrapImg {
                    opacity: 1;
                }
            }

            .wrap {
                background-color: #fff;
                opacity: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: 0.5s;
            }

            .wrapImg {
                position: absolute;
                opacity: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.5s;
            }




        }


    }

}