footer {
    background: $main;
    padding: 30px;
    color: #fff;

    .col-lg-2 {
        text-align: center;
    }

    .col-lg-10 {
        border-left: 1px solid #fff;
        padding-left: 30px;
    }

    .copyRight {
        p {
            font-size: 13px;

            a {
                color: #fff;
            }
        }
    }

    .content {
        align-items: center;
    }

    ul {
        margin-bottom: 10px;

        li {
            margin-bottom: 10px;
        }
    }

    @include lg {
        .col-lg-2 {
            margin-bottom: 20px;
        }

        .col-lg-10 {
            border-left: none;
            padding-left: 0px;
        }
    }

    @include md {
        .col-md-6 {
            text-align: center;
            margin-bottom: 5px;
        }
    }
}