body {
    background: url(../image/other/YOUCHEN.png) no-repeat, url(../image/other/YOUCHEN02.png) no-repeat;
    background-position: left 700px, right bottom 200px;

    @include xl {
        background: none;
    }
}

//回到頂部按鈕
#topBtn {
    width: 60px;
    height: 60px;
    color: #fff;
    background: #204EAB;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    position: fixed;
    right: 2%;
    bottom: 150px;
    cursor: pointer;
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 30%);
    z-index: 100;
}

//麵包屑
.breadcrumb {
    background: #F2F2F2;

    ul {
        display: flex;
        color: #666666;
        gap: 10px;
        padding: 20px;

        li {
            font-size: 18px;

            a {
                display: flex;
                align-items: center;
                color: #666666;
                gap: 5px;

            }

        }
    }

    @include sm {
        ul {
            li {
                font-size: 16px;

                a {
                    img {
                        width: 20px;
                    }

                }
            }
        }
    }

    @include xs {
        ul {
            li {
                font-size: 14px;
            }
        }
    }
}

//首頁Banner
.banner {

    .swiper-button-next,
    .swiper-button-prev {
        color: #fff;
    }
}


// 頁標題
.pageTitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 100px;

    @include lg {
        margin-bottom: 50px;
    }
}

//頁碼
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;


    li {
        a {
            display: flex;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            color: #000;

            &:hover {
                border: 1px solid #204EAB;
                background: #fff;
                box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);

            }

            &.active {
                border: 1px solid #204EAB;
                background: #fff;
                box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
            }
        }
    }

    @include lg {
        gap: 20px;
    }

    @include sm {
        gap: 10px;

        li {
            a {
                width: 35px;
                height: 35px;
            }
        }
    }
}

// 返回上一頁按鈕
.back {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        display: flex;
        gap: 10px;
        align-items: center;
        background: #204EAB;
        color: #fff;
        padding: 12px 30px;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 5px;
            height: 100%;
            background: #7396DC;
            left: 0;
            top: 0;
        }
    }
}