.navbar {
    h1 {
        background: #fff;

        a {
            display: block;
            width: 360px;
            height: 55px;
            background: url('../image/logo/logo.png')center no-repeat;
            background-size: contain;
            text-indent: 101%;
            white-space: nowrap;
            overflow: hidden;
        }
    }



    .nav-item {
        font-size: 19px;
        font-weight: bold;
        margin-right: 35px;


        &:last-child {
            margin-right: 0;
        }
    }

    .navbar-collapse {
        transition: 0.5s;
    }

    .dropdown {
        width: 150px;
        background: $main;


        .dropdown-toggle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;

            i {
                margin-left: 5px;
                margin-right: 5px;
            }
        }

        .dropdown-item {
            padding: 4px 0 4px 10px;
        }
    }

    .mobileLan {

        a {
            color: #fff;
            background: $main;
            text-align: center;
            padding: 10px 0;

            &:hover {
                background: #7396DC;
            }
        }
    }


    @include xl {
        .nav-item {
            font-size: 16px;
            margin-right: 10px;
        }
    }

    @include lg {

        .navbar-nav {
            padding: 10px;
        }

        .nav-item {
            border-bottom: 1px solid #7396DC;
            margin-right: 0px;

            &:first-child {
                border-bottom: none;
            }
        }
    }

    @include sm {
        h1 {
            a {
                width: 250px;
                height: 45px;
            }
        }
    }

    @include xs {
        h1 {
            a {
                width: 200px;
                height: 40px;
            }
        }
    }
}