#topBtn {
    width: 60px;
    height: 60px;
    color: #fff;
    background: #204EAB;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    position: fixed;
    right: 2%;
    bottom: 150px;
    cursor: pointer;
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 30%);
}